* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

:root {
  --white: hsl(0deg 0% 100%);
  --gray-200: hsl(0deg 0% 90%);
  --golden: #EE3D49;
  --black: hsl(0deg 0% 3%);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: hsl(20, 3%, 19%);
}
::-webkit-scrollbar-thumb {
  background-color: #FF3F34;
  border-radius: 50px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  min-height: 100vh;
  width: 100%;
  color: var(--black);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  box-shadow: 0px 2.98256px 7.464px rgba(48, 48, 48, 0.116);
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: hsla(0, 0%, 0%, 0.267);
  backdrop-filter: blur(8px);
}
h4.logo {
  font-size: 1.6rem;
  margin-right: auto;
  color: var(--golden);
}

.navBar {
  height: 50px;
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  align-items: center;
  padding: 0 1.4rem;
}
.navMenu {
  display: flex;
  
}
ul.navMenu li a {
  margin-left: 1.6rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}
.navMenu li a:hover {
  color:var(--golden);
}
.button {
  display: none;
}

@media screen and (max-width: 768px) {
  @keyframes menu {
    0% {
      top: -200px;
    }
    50% {
      top: 0px;
    }
    100% {
      top: 60px;
    }
  }
  ul.showMenu {
    top: 50px;
    z-index: 10;
    display: flex;
    animation: menu;
    animation-duration: 0.6s;
    background-color: hsla(0, 0%, 0%, 0.968);
    
  }
  .navMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: -200px;
    right: 0;
    width: 100%;
    padding: 2rem;
    align-items: center;
  }
  .navMenu li {
    margin-bottom: 2.2rem;
  }

  .button {
    display: block;
    background-color: transparent;
    border: none;
  }
}

.scroll_header {
  background-color: hsla(0, 0%, 0%, 0.968);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  transition: 0.8s all ease-in-out;
}

:target::before {
  content: "";
  display: block;
  height: 50px;
  margin: -50px 0 0;
}

.title_home {
  font-size: 2.3rem;
}


@media screen and (min-width: 500px) {
  .title_home {
    font-size: 5.3rem;
  }
}

.container_img {
  width: 100%;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  max-width: 100% !important;
}

.container_img > span {
  position: unset !important;
}
