.main_container {
  max-width:  800px;
  margin: 0 auto 2.4rem auto;
  padding: 0 2rem;
}

.main_container p a {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .title {
    font-size:1.5rem ;
  }
  .text {
    font-size: 0.938rem;
  }
}

.text {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
}

.title {
  font-size: 2.25rem;
  text-align: center;
  margin:1.6rem 0;
  position: relative;
}

.title::before{
  left: 0;
  right: 0;
  top: -1rem;
  content: "";
  width: 56px;
  margin: auto;
  height: 0.37rem;
  border-radius: 7px;
  position: absolute;
  background-color:#EE3D49 ;
}

.data_skill {
  display: grid;
  grid-template-areas:
    "one two three"
    "four five six";
  gap: 1rem;
  padding: 1.2rem;
  max-width: 100%;
  margin-top: 1rem;
}

@media screen and (max-width: 460px) {
  .data_skill {
    grid-template-areas:
      "one two"
      "three four"
      "five six";
  }
}
.data_skill span:nth-child(1) {
  grid-area: one;
  max-width: 80%;
}

.data_skill span:nth-child(2) {
  grid-area: two;
  max-width: 80%;
}

.data_skill span:nth-child(3) {
  grid-area: three;
  max-width: 80%;
}

.data_skill span:nth-child(4) {
  grid-area: four;
  max-width: 80%;
}

.data_skill span:nth-child(5) {
  grid-area: five;
  max-width: 80%;
}
.data_skill span:nth-child(6) {
  grid-area: six;
  max-width: 80%;
}

div .about,
.skills {
  text-align: justify;
}

div .about p
 {
  line-height: 2;
}

.projects_section {
  display: grid;
  grid-template-columns: auto;
  gap: 4rem;
}
.project_container p {
  line-height: 2;
  margin-bottom: 1rem;
  text-align: justify;
}
