.container_project {
  width: 100%;
  height: auto;
  border-radius: 13px;
  overflow: hidden;
  box-shadow: 18px 18px 36px hsl(0, 0%, 85%), -18px -18px 36px hsl(0, 0%, 100%);
}


.content_project {
  padding: 2rem;
}
.project_title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.project_description {
  font-size: 1rem;
  margin-bottom: 1.4rem;
  
}
.link_project {
  color: hsl(20, 3%, 19%);
  transition: ease-in 0.5s;
  cursor: pointer;
}
.link_svg {
  position: relative;
  top: 4px;
}

.link_project:hover {
  text-decoration: underline;
}
