.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 60px);
  padding: 1.7rem 1.3rem;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}